@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

:root {
  --mainHeader: #1c2c44;
  --mainFooter: #508ca0;
  --headerColor: #ffa250;
  --pageBg: #405169;

  --primary: #ffff;
}

@media print {
  .no_print,
  .no_print * {
    display: none !important;
  }
}
.customBgColor {
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #ffff;
  background-size: cover;
  font-size: 14px;
  letter-spacing: 0.05rem;
}

strong {
  letter-spacing: 0.08rem;
}

.a4_size_class {
  width: 210mm;
  min-height: 297mm;
  /* max-height: 297mm; */
}

.bg_main {
  background-color: rgb(0, 0, 0, 0.9);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  width: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

input {
  outline: none;
}

.Toastify__toast-container--top-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
